/* header{
    background-color: rgb(9, 252, 171);
    margin: 0%;
    padding: 2%;
}
.header-titre h3, .header-titre p{
    color: white;
    margin: 2%;

}
.header-titre h3{
    font-size: x-large;
    font-weight: bold;
} */

.column{
    margin: 2%;
}